.descontos {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.cupons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cupons img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cupons img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pontos-acumulados {
    font-weight: bold;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    nav a {
        font-size: 0.9em;
        margin: 8px 0;
    }

    .subtitulo img {
        max-width: 80%;
    }

    .cupons img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    nav a {
        font-size: 0.8em;
        margin: 6px 0;
    }

    .subtitulo img {
        max-width: 70%;
    }

    .cupons img {
        width: 100px;
        height: 100px;
    }

    .descontos {
        padding: 15px;
    }

    .pontos-acumulados {
        font-size: 0.9em;
    }
}